html {
  font-family: "Roboto", sans-serif; }

.container {
  max-width: 1140px;
  margin: auto;
  padding-top: 3rem; }

.image-responsive {
  max-width: 100%;
  height: auto; }

.primary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  margin: .5rem 1rem; }
  .primary-nav__brand {
    text-decoration: none;
    font-size: 1.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #535353; }
    .primary-nav__brand:hover {
      opacity: .6; }
  .primary-nav__logo {
    margin-right: .5rem; }

.nav-list__item {
  display: inline-block;
  text-transform: uppercase; }

.nav-list__link {
  color: #535353;
  text-decoration: none;
  padding: .3rem; }
  .nav-list__link:hover {
    border-bottom: 3px solid #868686;
    color: #868686;
    -webkit-transition-duration: 80ms;
    -o-transition-duration: 80ms;
    transition-duration: 80ms; }
  .nav-list__link--current {
    border-bottom: 3px solid #202020;
    color: #202020; }

.full-page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .full-page--home {
    background-image: url("../images/home.jpg"); }
  .full-page__container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 960px; }
  .full-page__title {
    color: #4d4d4d;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 900;
    opacity: .8; }
    .full-page__title--emphasis {
      font-size: 4.5rem;
      color: #999; }

.main-content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 7fr 5fr;
  margin-top: 5rem; }
  .main-content__title {
    color: #303b59;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5rem;
    margin: 0; }
  .main-content__subtitle {
    color: #999;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900; }
  .main-content__text {
    color: #212529;
    max-width: 25rem;
    line-height: 1.5; }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2.5rem 0; }
  .features__image {
    margin-right: 1rem; }
  .features__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .features__title {
    font-weight: 700;
    color: #4d4d4d;
    font-size: 1.5rem;
    margin: 0; }
  .features__text {
    color: #212529;
    line-height: 1.5;
    max-width: 20rem; }
  .features__cta {
    text-transform: uppercase;
    font-weight: 700;
    color: #303b59;
    text-decoration: none; }
    .features__cta:hover {
      text-decoration: underline;
      color: #54679b;
      -webkit-transition-duration: 80ms;
      -o-transition-duration: 80ms;
      transition-duration: 80ms; }

.footer__logo {
  margin: auto;
  display: block; }

.footer__text {
  color: white;
  background-color: #303b59;
  padding: 1rem; }
