.full-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--home {
        background-image: url('../images/home.jpg');
    }
    &__container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 960px;
    }
    
    &__title {
        color: #4d4d4d;
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 900;
        opacity: .8;

        &--emphasis {
            font-size: 4.5rem;
            color: #999;
        }
    }
}