.primary-nav {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    padding: .5rem 1rem;

    &--deep-page {
        background-color: $primary-color;
    }

    &__brand {
        text-decoration: none;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        color: $nav-home-color;

        &--deep-page {
            color: #fff;
        }

        &:hover {
            opacity: .6;
        }
    }

    &__logo {
        margin-right: .5rem;
    }
}

.secondary-nav {
    position: fixed;
    bottom: 0;
    background-color: $primary-color;   
    width: 100vw;

    @media screen and (min-width: $break-small) {
        display: none;
    }
}


.nav-list {
    
    &--mobile {
        display: flex;
        margin: 0;
        padding: .5rem;
    }

    &__item {
        display: inline-block;
        text-transform: uppercase;

        &--mobile {
            flex-basis: 0;
            flex-grow: 1;
            text-align: center;
        }
    }
    
    &__link {
        color: $nav-home-color;
        text-decoration: none;
        padding: .3rem;

        &:hover {
            border-bottom: 3px solid lighten($nav-home-color, 20%);
            color: lighten($nav-home-color, 20%);
            transition-duration: 80ms;
        }

        &--current {
            border-bottom: 3px solid darken($nav-home-color, 20%);
            color: darken($nav-home-color, 20%);
        }

        &--deep-page {
            color: #989dac;
        }

        &--deep-page--current {
            border-bottom: 3px solid lighten(#989dac, 20%);
            color: lighten(#989dac, 20%);
        }
    }

    @media screen and (max-width: $break-small) {
        &--no-mobile {
            display: none;
        }
    }
}