.process {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    max-width: 960px;
    margin: auto;

    &__item {
        margin: 1rem;
        padding: 0;
        display: flex;
        flex-basis: 100%;

        &--even {
            justify-content: flex-end;
        }
    }

    &__number {
        width: 75px;
        height: 75px;
        color: #fff;
        font-weight: 700;
        font-size: 2.5rem;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;

        &--even {
            background-color: lighten( $primary-color, 20% );
        }
    }

    &__text {
        flex: 1;
        color: $text-color;
        line-height: 1.5;
        max-width: 640px;

        &--even {
            text-align: right;
            padding-right: 1rem;
        }
    }
}